// CHALLENGE Firestore
// See https://firebase.google.com/docs/firestore/security/get-started

service cloud.firestore {
  match /databases/{database}/documents {
    // Write one read,write rule for /users/{uid}
    // read, write: request.auth.uid must equal uid

    // See https://firebase.google.com/docs/firestore/security/rules-conditions#custom_functions
    // These rules rely on custom functions
    function isOwner() {
      // The auth token's uid must equal the record's owner field

    }

    function isOwnerRequest() {
      // The auth token's uid must equal the attempted write's owner field
      
    }

    function isCollaborator() {
      // Traverse the database to get the users's emailSlug
      // Compare the emailSlug to the record's `collaborators` object
      // See reference for rules.Map: https://firebase.google.com/docs/reference/rules/rules.Map
      
    }

    match /notes/{noteId} { // Applies to all notes
      allow read: if isOwner() || isCollaborator()
      allow write: if isOwner() || isCollaborator()
      allow create: if isOwnerRequest()
    }
  }
}
