/* Global */
body {
  color: var(--colors-text);
}

::selection {
  color: var(--colors-white);
  background: var(--mdc-theme-primary);
}

h1 {
  font-weight: 900;
}

svg.avatar {
  fill: var(--colors-white);
  background: var(--colors-gray);
}

/* MDC button */
.mdc-list .mdc-button {
  color: var(--colors-gray);
}

/* MDC links */
a {
  color: inherit;
  text-decoration: none;
}

.mdc-list-item--selected a {
  cursor: default;
}

/* MDC svg */
.mdc-list svg {
  fill: var(--colors-gray);
}

.mdc-list-item--selected svg {
  fill: var(--mdc-theme-primary);
}

/* MDC fab */
.mdc-fab svg {
  fill: white;
}

/* MDC form field */
.mdc-form-field {
  width: 100%;
}

.mdc-form-field ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.mdc-form-field .mdc-text-field {
  width: 100%;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-secondary-dark);
}
